@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<p>This web application will take the list of students' scores that is input and sort the scores for you.<br/>
    You can also create groups of a specific number of students based on the sorted list.</p>
