@{
    this.ViewBag.Title = "Contact";
}
<h2>@(this.ViewBag.Title)</h2>
<h3>@(this.ViewBag.Message)</h3>

<h4>Feel free to contact me with any questions or comments.</h4>

<address>
    <strong>Matthew Thomas</strong><br/>
    <a href="mailto:thoma3mw@mail.uc.edu">thoma3mw@mail.uc.edu</a>
</address>