@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<h4>Feel free to contact me with any questions or comments.</h4>

<address>
    <strong>Matthew Thomas</strong><br/>
    <abbr>C:</abbr> 513-479-4165<br/>
    <a href="mailto:thoma3mw@mail.uc.edu">thoma3mw@mail.uc.edu</a>
</address>