@{
    this.ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>
        Welcome to the Student<br/>Score Analyzer for Teachers!
    </h1>
    <br/>
    <p class="lead">Enter the number of students below and then click "Start."</p>
    <div class="row">
        <div class="col-md-1">
            @(this.Html.EJ().NumericTextbox("numberOfStudents").Value("1").Width("55px").MinValue(1).ShowSpinButton(false))
        </div>
        <div class="col-md-1">
            @(this.Html.EJ().Button("startBtn").Text("Start").Width("55px").Type(ButtonType.Submit).ClientSideEvents(s => s.Click("getNumberOfStudents")))
        </div>
    </div>
    <br/>
    <p>
        <a href="@(this.Url.Action("ScoreInput", "Analyzer"))" onclick="getNumberOfStudents()" class="btn btn-primary btn-large">Start</a>
    </p>
</div>

<script type="text/javascript">
    function getNumberOfStudents() {
        var numStudents = parseInt($("#numberOfStudents").val());
        alert("You selected " + numStudents.toString() + " students.");
        location.replace(document.location.href + "/ScoreInput/");
    }
</script>