@model StudentScoreAnalyzerForTeachers.Models.HomePageModel

@{
    this.ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>
        Welcome to the Student<br/>Score Analyzer for Teachers!
    </h1>
    <br/>
    <p class="lead">Enter the number of students below and then click "Start."</p>
    @{ this.Html.BeginForm(); }
    <div class="row">
        <div class="col-md-1">
            @(this.Html.EJ()
                  .NumericTextBoxFor(m => m.NumberOfStudents)
                  .Value("1")
                  .Width("55px")
                  .MinValue(1)
                  .ShowSpinButton(false))
        </div>
        <div class="col-md-1">
            @(this.Html.EJ()
                  .Button("startButton")
                  .Text("Start")
                  .Width("55px")
                  .Type(ButtonType.Submit))
        </div>
    </div>
    @{
        this.Html.EndForm();
    }
</div>