@using StudentScoreAnalyzerForTeachers.Models
@using Syncfusion.JavaScript.Models
@{
    this.ViewBag.Title = "Results";
}

<h2>Below are the results.</h2>

@(this.Html.EJ()
      .Grid<StudentScoreModel>("ScoreList")
      .Datasource((IEnumerable<StudentScoreModel>)this.Session["StudentScoreModels"])
      .Columns(col =>
      {
          col.Field("StudentNumber")
              .HeaderText("Student Number")
              .IsPrimaryKey(true)
              .TextAlign(TextAlign.Left)
              .Width("25%")
              .Add();
          col.Field("StudentScore")
              .HeaderText("Score")
              .EditType(EditingType.Numeric)
              .NumericEditOptions(new EditorProperties
              {
                  DecimalPlaces = 2
              })
              .TextAlign(TextAlign.Left)
              .Width("25%")
              .Add();
      }))